
.hovernav:hover {
   color: orangered;

}
.po
{
   position: fixed;
}

 .sup_coloure{
   color: orangered;
 }
 .new{
   font-size: 8px;
 }
 .gohome{
    background-attachment: orange;
 }
.back_col{
    color: orangered;
    background-color: orangered;
}