body {
    background: #37718e;
}


.col_o {
    background: #37718e;
}

.hovernav:hover {
    color: orangered;

}



.wrapper {
    background-color: #f0f1ff;
}

.hover:hover {
    background-color: white;
}

.hidden {
    display: hidden;
}

.zoom {
    transition: transform .2s;
    /* Animation */
}

.zoom:hover {
    transform: scale(0.9);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}