/* body
{
   background-color: rgb(168, 142, 142);
} */

header {
  position: fixed;
  z-index: 2;
  width: 100%;


}

.subheding {
  text-align: end !important;
}

.hovernav:hover {
  color: orangered;

}



.zoom {
  transition: transform .2s;
  /* Animation */
}

.zoom:hover {
  transform: scale(0.9);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.sup_coloure {
  color: orangered;
}

.new {
  font-size: 8px;
}